snippet main "main program stub"
#include <stdio.h>
#include <stdlib.h>

int main(int argc, char *argv[])
{
	$0
	return EXIT_SUCCESS;
}
endsnippet

snippet guards "include guards"
#ifndef $1_HPP
#define $1_HPP

$0

#endif // $1_HPP
endsnippet
