[submodule "pack/github/opt/gruvbox"]
	path = pack/github/opt/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "pack/github/opt/targets.vim"]
	path = pack/github/opt/targets.vim
	url = https://git::@github.com/wellle/targets.vim
[submodule "pack/github/opt/vim-commentary"]
	path = pack/github/opt/vim-commentary
	url = https://git::@github.com/tpope/vim-commentary
[submodule "pack/github/opt/vim-gitgutter"]
	path = pack/github/opt/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/github/opt/vim-python-pep8-indent"]
	path = pack/github/opt/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent
[submodule "pack/github/opt/vim-repeat"]
	path = pack/github/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/github/opt/vim-surround"]
	path = pack/github/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/github/opt/vim-wordmotion"]
	path = pack/github/opt/vim-wordmotion
	url = https://git::@github.com/chaoren/vim-wordmotion.git
[submodule "pack/github/opt/ale"]
	path = pack/github/opt/ale
	url = https://github.com/w0rp/ale
[submodule "pack/github/opt/vim-abolish"]
	path = pack/github/opt/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "pack/github/opt/papercolor-theme"]
	path = pack/github/opt/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "pack/github/opt/vim-airline"]
	path = pack/github/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/github/opt/vim-airline-themes"]
	path = pack/github/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/github/opt/vim-grepper"]
	path = pack/github/opt/vim-grepper
	url = https://github.com/mhinz/vim-grepper
[submodule "pack/github/opt/tender.vim"]
	path = pack/github/opt/tender.vim
	url = https://github.com/jacoborus/tender.vim
[submodule "pack/github/opt/badwolf"]
	path = pack/github/opt/badwolf
	url = https://github.com/sjl/badwolf
[submodule "pack/github/opt/fzf.vim"]
	path = pack/github/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/github/opt/python-syntax"]
	path = pack/github/opt/python-syntax
	url = https://github.com/vim-python/python-syntax
[submodule "pack/github/opt/quick-scope"]
	path = pack/github/opt/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule "pack/github/opt/vim-cpp-modern"]
	path = pack/github/opt/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern
[submodule "pack/github/opt/vim-cmake-syntax"]
	path = pack/github/opt/vim-cmake-syntax
	url = https://github.com/pboettch/vim-cmake-syntax
